.about-us-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  background-color: #e8e4e6;
  color: var(--clr-btn-hover);
}

.about-us-text {
  font-size: var(--fz-title);
  margin-bottom: 1em;
  color: var(--clr-card-headline);
  line-height: 1.7;
}

.team-section, .mission-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  align-items: center;
}

.team-section h2, .mission-section h2 {
  color: var(--clr-btn-hover);
  font-weight: 700;
  flex-basis: 100%;
}

.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}

.team-members div {
  text-align: center;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--br);
  transition: var(--ts);
  padding: 50px;
  background-color: var(--clr-box-bg);
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los elementos al centro */
}

.team-members img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}

.team-members a {
  text-align: center; /* Centra el texto del enlace */
  display: block; /* Hace que el enlace ocupe toda la línea */
}


.team-members a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: var(--clr-primary-navbar);
  font-weight: 600;
  transition: color var(--ts);
}

.team-members a:hover {
  color: var(--clr-btn);
}


.mission-section p {
  color: var(--clr-black);
}

.mission-section a {
  color: var(--clr-primary);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.mission-section a:hover {
  color: var(--clr-btn);
}
