.about-us-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  background-color: var(--clr-card-bg);
  color: var(--clr-card-headline);
}

.about-us-text {
  font-size: var(--fz-title);
  margin-bottom: 1em;
  color: var(--clr-card-headline);
  line-height: 1.7;
}

.team-section, .mission-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  align-items: center;
}

.team-section h2, .mission-section h2 {
  color: var(--clr-primary);
  font-weight: 700;
  flex-basis: 100%;
}

.team-members, .mission-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.team-members div, .mission-content p {
  flex-basis: 48%;
  background: var(--clr-white);
  padding: 1em;
  border-radius: var(--br);
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-members img {
  max-width: 100%;
  border-radius: var(--br);
}

.mission-section p {
  color: var(--clr-black);
}

a {
  color: var(--clr-primary);
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--clr-btn);
}
