.breakfast {
  background-color: var(--clr-secondary);
}

.breakfast-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-content: center;
  gap: 2em;
}