.dropdown {
  display: none;
  position: absolute;
  /* top: 4em; */
  right: -5px;
  width: 120px;
  padding: .8em;
  background-color: white;
  border-radius: var(--br);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 99;
}

.dropdown:hover {
  display: flex;
  flex-direction: column;
}


.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.dropdown li {
  display: flex;
  gap: .5em;
  align-items: center;

  border-radius: var(--br);
  padding: .3em;
  cursor: pointer;
  transition: var(--ts);
}

.dropdown .icon {
  color: var(--clr-primary);
}

.dropdown li:hover {
  background-color: var(--clr-primary);
  color: white;
}

.dropdown li:hover .icon {
  color: white;
}
