

.filter-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
}

.tags-container {
  display: flex;
  gap: 1em;
}

.tag {
  display: flex;
  gap: .5em;
  color: var(--clr-primary-text);
}

.search {
  outline: none;
  border: none;
  padding: 0.5em;
  border-radius: var(--br);
  background-color: var(--clr-primary);
  color: var(--clr-secondary-headline);
  
}

.search::placeholder {
  color: var(--clr-secondary-headline);
}
.tag input{
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;

}
.btnalergico{
  margin:auto; 
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btnYn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnalergico h3{
  margin:6px ;
}

.Ybtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnalergico button{
  margin: 6px;
  width: 55px;
  height: 55px;
}
.tag label{
  margin-top: 4px;
}