/*#main {
  background-color: var(--clr-box-bg);
}*/

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,70,67,0.7)), url('/imgs/158-h0.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; /* Ajusta esto según tus necesidades */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    color: #fffcfc; /* Color del texto, cámbialo si es necesario */
    font-size: 700;
}
  
#hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    max-width: 600px; /* Puedes ajustar esto según tus necesidades */
  }

  #hero-content h1 {
    color: var(--clr-secondary-headline);
    font-size: 2.5rem;
  }

  #hero-content p {
    color: var(--clr-secondary-headline);
    font-size: 1.4rem;
  }

  #hero-content button {
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: var(--br);
    background-color: var(--clr-btn);
    color: var(--clr-btn-text);
    font-size: var(--fz-header);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #hero-content button:hover{
    background-color: var(--clr-btn-hover);
    color: white;
  }

.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1em;
}

/*Css para Seccion de caracteristicas*/
#features {
  text-align: center; /* Centra el texto */
  background-color: var(--clr-white);
}

#features h2 {
  color: var(--clr-btn-hover);
  font-size: 2.5rem; /* Tamaño del título principal */
  margin-bottom: 1rem; /* Espacio debajo del título */
}

.feature {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem; /* Espacio entre características */
  text-align: center; /* Alineación del texto en la característica */
  max-width: 800px; /* Ancho máximo */
  margin: 0 auto; /* Centrado */
}

.feature h3 {
  color: #555555; /* Color del título de la característica */
  font-size: 1.5rem; /* Tamaño del título de la característica */
}

.feature p {
  color: #666666; /* Color de la descripción */
  font-size: 1rem; /* Tamaño de la descripción */
  line-height: 1.5; /* Espacio entre líneas en la descripción */
}

/*Recipes*/
#recipes {
  background-color: var(--clr-white);
}

#recipes h2 {
  color: var(--clr-btn-hover);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}


.recipe .title, .small, .creator {
  color: var(--clr-secondary-headline)
}

/*Seccion de testimonios*/

#testimonials {
  padding: 5rem 1rem;
  text-align: center;
  background-color: var(--clr-white);
}

.testimonial-container {
  display: flex;
}

.testimonial-container div {
  flex: 1;
}

#testimonials h2 {
  color: var(--clr-btn-hover);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

/*CTA final*/

#final-cta {
  background-color: var(--clr-white); 
  text-align: center; /* Centra el contenido horizontalmente */
}

#final-cta h2 {
  color: var(--clr-btn-hover); /* Color de texto oscuro */
  font-size: 2.5rem; /* Tamaño del título */
  margin-bottom: 1rem; /* Espacio debajo del título */
}

#final-cta button {
  border: none;
  outline: none;
  padding: .6em 1em;
  border-radius: var(--br);
  background-color: var(--clr-btn);
  color: var(--clr-btn-text);
  font-size: var(--fz-header);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#final-cta button:hover{
  background-color: var(--clr-btn-hover);
  color: white;
}

.dislike,.like{
  width: 40px;
  height: 40px;
  position: relative;
  top: -270px;
  left: 10px;
}
.like{
  margin-left: -40px; 
}
.hid{
  display: none;
}
