.login {
  width: 100%;
  min-height: 80vh;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

.login-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
}

.login-container img {
  height: 90vh;
  object-fit: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;

  border-radius: var(--br);
  background: var(--clr-receipe-box);
  color: var(--clr-card-headline);
  padding: 4em;
  width: min(400px, 95%);
}


.login-form label {
  color: var(--clr-secondary);
  font-size: 2rem;
}

.login-form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.8em;
  background-color: var(--clr-secondary);
  border-radius: var(--br);
}

.login-form input::placeholder {
  color: var(--clr-black);
}


.login p {
  margin-top: 1em;
  color: var(--clr-primary-text);
}

.login p a {
  color: var(--clr-btn-hover);
  font-size: 2rem;
}




@media (max-width: 900px) {
  .login-container {
    grid-template-columns:  1fr;
  }

  .login-container img {
    display: none;
  }

  .login {
    padding-block: 5em;
  }
}