.login {
  width: 100%;
  min-height: 80vh;
  background-color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;

  border-radius: var(--br);
  background: var(--clr-primary);
  color: var(--clr-card-headline);
  padding: 4em;
  width: min(400px, 95%);
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}


.login-form label {
  color: var(--clr-secondary);
}

.login-form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.8em;
  background-color: var(--clr-secondary);
  border-radius: var(--br);
}

.login-form input::placeholder {
  color: var(--clr-primary);
}


.login p {
  margin-top: 1em;
  color: var(--clr-primary-text);
}

.login p a {
  color: inherit;
}
