.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: var(--clr-primary);
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--clr-headline);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2em;
}

a {
  color: var(--clr-headline);
  font-size: var(--fz-header);
  font-weight: 500;
}

.auth .link{
  color: var(--clr-btn-text);
}