.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: var(--clr-primary-navbar);
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  height:43px; /* Puedes ajustar esto según el tamaño que desees */
  width: auto; /* Puedes ajustar esto según el tamaño que desees */
  margin-right: 16px; /* Espacio entre la imagen y el texto */
}

.logo {
  color: var(--clr-white);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2em;
  font-size: 1.4rem;
}

.nav-links a {
  position: relative;
  text-decoration: none; /* Elimina cualquier subrayado por defecto */
  color: var(--clr-btn-navbar); /* Usa el color de tu tema */
  transition: all 0.3s ease; /* Transición suave para el hover */
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Posición debajo del texto, puedes ajustar */
  left: 0;
  width: 0; /* Inicialmente oculto */
  height: 2px; /* Altura de la barra */
  background-color: var(--clr-hover-text); /* Color de la barra, puedes ajustar */
  /*transition: width 0.3s ease; /* Transición suave para el hover */
}

.nav-links a:hover::after {
  width: 100%; /* Aparece bajo el texto al hacer hover */
}