.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--clr-primary-navbar);
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
  margin: auto;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  height:60px; /* Puedes ajustar esto según el tamaño que desees */
  width: auto; /* Puedes ajustar esto según el tamaño que desees */
  margin-right: 16px; /* Espacio entre la imagen y el texto */
}

.logo {
  color: var(--clr-white);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.nav-links-container .icon {
  font-size: 25px;
  color: var(--clr-btn);
  cursor: pointer;
}

.nav-links-container .bars {
  display: none;
}

.nav-links-container .icon {
  display: none;
}

.nav-links {
  display: flex;
  gap: 1em;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  /* padding-right: 141px; */
}

.nav-links a {
  position: relative;
  text-decoration: none; /* Elimina cualquier subrayado por defecto */
  color: var(--clr-btn-navbar); /* Usa el color de tu tema */
  transition: all 0.3s ease; /* Transición suave para el hover */
  margin: 0 10px;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Posición debajo del texto, puedes ajustar */
  left: 0;
  width: 0; /* Inicialmente oculto */
  height: 2px; /* Altura de la barra */
  background-color: var(--clr-hover-text); /* Color de la barra, puedes ajustar */
  /*transition: width 0.3s ease; /* Transición suave para el hover */
}

.nav-links a:hover::after {
  width: 100%; /* Aparece bajo el texto al hacer hover */
}


/*CSS para el user name cuando hace login*/

.user-dropdown-container {
  position: relative; /* Para que el posicionamiento absoluto del menú desplegable se base en este contenedor */
}
.user-dropdown-container:hover .dropdown {
  display: flex;
  flex-direction: column;
}

/*CSS para tener una zona invisible entre elementos*/
.user-dropdown-container:hover::before {
  content: "";
  position: absolute;
  bottom: -10px; /* Tamaño del espacio */
  left: 0;
  width: 100%;
  height: 10px; /* Tamaño del espacio */
}

.user-dropdown {
  background-color: var(--clr-btn);
  color: var(--clr-btn-text);
  font-size: var(--fz-header);
  font-size: 1.2rem;
  font-weight: bold; /* Grosor del texto */
  padding: 10px; /* Espaciado interno */
  border-radius: var(--br);
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  text-align: center; /* Alineación del texto */
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.user-dropdown:hover {
  background-color: var(--clr-btn-hover);
  color: white; /* Color de fondo al pasar el mouse */
}

/*.user-dropdown:hover + .dropdown {
  display: flex;
  flex-direction: column;
}*/


@media (max-width: 1090px) {

  .navbar .nav-links-container {
    flex-direction: row;
  }

  .navbar .nav-links-container .bars {
    display: block;
  }

  .nav-links-container .icon {
    display: block;
  }
  


  .navbar .nav-links{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    display: flex;
    flex-direction: column;
    border-radius: var(--br);
    transition: var(--ts);
    z-index: 99;

    background-color: var(--clr-white);
    font-size: var(--fz-header);
    font-size: 1.2rem;
    font-weight: bold; /* Grosor del texto */
    border-radius: var(--br);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .nav-links a {
    color: var(--clr-black);
  }
  .navbar .nav-links.open {
    right: 0;
  }
}