.planner {
  display: flex;
  justify-content: center;
  min-height: 50vh;
}

.planner input {
  padding: 0.6em;
  border-radius: var(--br);
  border: 1px solid lightgray;
  outline: none;
}

.planner-container .top {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.total-nutritions {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.total-nutritions p {
    font-weight: bold;
}

.planned-meals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  gap: 2em;
  padding-top: 20px;
}
