
.recipe {
    border-radius: var(--br);
    background-color: var(--clr-receipe-box);
    color: var(--clr-secondary-text);
    transition: var(--ts);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipe img {
    object-fit: cover;
    border-start-start-radius: var(--br);
    display: block;
    width: 100%; /* Ajusta según tu necesidad */
    height: 230px; /* Ajusta según tu necesidad */
}

.recipe .heart {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    transition: var(--tr);
  }

  .recipe .heart:hover, .recipe .heart.filled {
    color: red;
  }
  

.recipe-description {
    padding: .5em;
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.small {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.title {
    font-size: var(--fz-title);
    font-weight: bold;
    text-transform: capitalize;
    color: var(--clr-secondary-text);
}

.creator {
    font-size: 14px;
    text-transform: capitalize;
}



