
.recipe {
    border-radius: var(--br);
    background-color: var(--clr-card-bg);
    color: #0f3433;
    max-width: 15rem;
}

.recipe img {
    object-fit: cover;
    border-start-start-radius: var(--br);
}

.recipe-description {
    padding: .5em;
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.small {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.title {
    font-size: var(--fz-title);
    font-weight: bold;
    text-transform: capitalize;
    color: #001e1d;
}

.creator {
    font-size: 14px;
    text-transform: capitalize;
}



