@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-weight: 400;

  --clr-primary: #ffffff;
  --clr-secondary: #d4ffbd;
  --clr-primary-text: #0f3433;
  --clr-secondary-text: #abd1c6;
  --clr-btn: #f9bc60;
  --clr-btn-text: #001e1d;
  --clr-primary-headline: #001e1d;
  --clr-secondary-headline: #fffffe;
  --clr-card-headline: #001e1d;
  --clr-card-bg: #e8e4e6;

  --fz-header: 1.1rem;
  --fz-title: 1.3rem;

  --br: 5px;

  --ts: .2s;

  --clr-white: #fff;
  --clr-black: #000;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  outline: none;
  padding: .6em 1em;
  border-radius: var(--br);
  background-color: var(--clr-btn);
  color: var(--clr-btn-text);
  font-size: var(--fz-header);
  cursor: pointer;
}

button:hover {
  background-color: var(--clr-secondary);  /* Cambia el color de fondo del botón al pasar el ratón sobre él */
  color: black;
}

input {
  font-size: 14px;
}

.container {
  width: 90%;
  max-width: 1200px; 
  margin: 0 auto;
}

.section {
  padding-block: 2em;
}

.section-x2 {
  padding-block: 5em;
}

/* .btn { 
  background-color: var(--clr-btn);
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding: 1em 2em;
  font-size: 1rem;
  color: #fff;
} */